{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>update your name, date of birth and National Insurance Number</li>
      </ul>

      {{ 
        govukButton({
          text: "Start now",
          href: "/journey-plugin/start?journey_plugin_exit_url=/end-page",
          isStartButton: true
        })
      }}

      <ul class="govuk-list govuk-list--bullet">
        <li>update your name, date of birth and National Insurance Number and tell us about your contact needs</li>
      </ul>

      {{ 
        govukButton({
            text: "Start now",
            href: "/journey-plugin/start?journey_plugin_exit_url=/dwp-alternative-formats-plugin/start&alternative_formats_exit_url=/end",
            isStartButton: true
        })
      }}


    </div>

  </div>

{% endblock %}